{% extends "layout.html" %}

{% block title %}
    Add Cash
{% endblock %}

{% block main %}
    <form action="{{ url_for('addcash') }}" method="post">
        <fieldset>
            <div class="form-group">
                <input autocomplete="off" class="form-control" min="1" name="cash" placeholder="Cash" type="number" required/>
            </div>
            <div class="form-group">
                <button class="btn btn-default" type="submit">Add</button>
            </div>
        </fieldset>
    </form>
{% endblock %}
