{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            <tr>
                <td>{{ row["stock"] }}</td>
                <td>{{ row["quantity"] }}</td>
                <td>{{ row["price"] }}</td>
                <td>{{ row["time"] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
