{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
            {% if row["quantities"] > 0 %}
            <tr>
                <td>{{ row["stock"] }}</td>
                <td>{{ row["quantities"] }}</td>
                <td>{{ prices[loop.index0] }}</td>
                <td>{{ total[loop.index0] }}</td>
            </tr>
            {% endif %}
            {% endfor %}
            <tr>
                <td colspan="3">CASH</td>
                <td>{{ cash }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"></td>
                <td>{{ finaltotal }}</td>
            </tr>

        </tfoot>
    </table>

{% endblock %}
